# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env
.env
.env.local
.env.*.local

# Android
android/app/build/
android/.gradle/
android/local.properties
android/app/keystore.properties
android/app/release.keystore
android/app/*.keystore
android/google-play-service-account.json

# Fastlane
android/fastlane/report.xml
android/fastlane/Preview.html
android/fastlane/screenshots/
android/fastlane/test_output/

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Build
build/

# Logs
*.log
